<section class="contact-us-box">
    <div class="contact-us-container">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p><strong>Email:</strong> <a href="mailto:techitcareer08@gmail.com">techitcareer08@gmail.com</a></p>
            <p><strong>Phone:</strong> <a href="tel:7718091657"> 7718091657</a>, &nbsp;<a href="tel:7715802503">7715802503</a>, &nbsp;<a href="tel:8689960170">8689960170</a></p>
            <p><strong>Address:</strong> Mhatre Tower, Phadke Rd, near Hair Castle, Dombivli, Maharashtra 421201</p>
        </div>
        <div class="cont-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.4585244328637!2d73.0871461742555!3d19.218838447474752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7959123d51dd1%3A0xfa2f16e74f6d2c23!2sAjora!5e0!3m2!1sen!2sin!4v1727065069790!5m2!1sen!2sin"
                style="border:0;" allowfullscreen="" loading="lazy" width="600" height="250" class="add-map"></iframe>
        </div>
    </div>
</section>
