<footer class="foot">

    <div class="foot-first">

        <div class="foot-logo">
            <img src="/assets/logo.png" alt="Tech-iT">
            <h2>The C<span><i class="fa-solid fa-earth-asia"></i></span>DE Of Success</h2>
        </div>
        <div class="foot-options">
            <ul>
                <li><a href="/index">Home</a> </li>
                <li><a href="/about">About Us</a> </li>
                <li><a href="/explore/allCourses">Courses</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/about">Contact</a></li>
            </ul>
            <ul>
                <li><a href="/explore/allCourses">Full Stack Development</a></li>
                <li><a href="/explore/allCourses">Website Design</a> </li>
                <li><a href="/explore/allCourses">Data Analysis</a></li>
                <li><a href="/explore/allCourses">Digital Marketing</a></li>
                <li><a href="/explore/allCourses">Graphic Design</a></li>
                <li><a href="/explore/allCourses">Professional Accounting</a></li>
                <li><a href="/explore/allCourses">MIS Specialist</a></li>
                <li><a href="/explore/allCourses">AI/ML</a></li>
            </ul>
            <ul>
                <li><a href="/jobs">Placement Guarantee</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/jobs">Internships</a></li>
            </ul>
            <ul>
                <li><a href="mailto:techitcareer08@gmail.com">techitcareer08@gmail.com</a></li>
                <li><a href="tel:7718091657">7718091657</a></li>
                <li><a href="tel:7715802503">7715802503</a></li>
                <li><a href="tel:8689960170">8689960170</a></li>
            </ul>
            
        </div>
        
    </div>
    <hr>
    <div class="foot-second">
        <div class="foot-icons">
            
            <li><a href="https://www.instagram.com/techitcareer?igsh=cnVhc2tvOGZ2a3hp" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/share/1Asp8k6yVV/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/tech-it-career-oriented-courses-030b34324?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <!-- <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li> -->
            
        </div>
        <div class="foot-copy">
            <p><i>&copy; 2024 <strong>Tech-it</strong>. All Rights Reserved.</i></p>
        </div>
    </div>
</footer>