

<div class="inst-info">
    <div class="inst-msg">
        <h1>Our Expert Instructors</h1>
        <p>Join us learn from passionate educators who bring real-world experience and up-to-date knowledge to the classroom.</p>
    </div>

    <div class="inst-cards">
        <div class="cont">
            <img src="/assets/instructors/instructor1.jfif" class="inst-img" alt="instructor1">
            <div class="cont-body">
                <h3 class="cont-title">Jesika Parnendaj</h3>
                <p class="cont-text">Expert Designer</p>
                <small>10+ years of experience</small>
            </div>
        </div>

        <div class="cont">
            <img src="/assets/instructors/instructor2.jfif" class="inst-img" alt="instructor2">
            <div class="cont-body">
                <h3 class="cont-title">Nelson Mendela</h3>
                <p class="cont-text">Web Developer</p>
                <small>10+ years of experience</small>
            </div>
        </div>

        <div class="cont">
            <img src="/assets/instructors/instructor3.jfif" class="inst-img" alt="instructor3">
            <div class="cont-body">
                <h3 class="cont-title">Jhon Abraham</h3>
                <p class="cont-text">Marketing Expert</p>
                <small>10+ years of experience</small>
            </div>
        </div>

        
    </div>
</div>
