
<div class="join-cont">
    <img class="join-img" src="/assets/join.jpg" alt="join">
    <div class="join-info">
        <h1>Take the next step towards your personal and professional goals with Tech-iT.</h1>
        <p>Join now to receive personalized recommendations from the full Tech-iT catalog.</p>
        <div class="join-btn">
            <a href="/explore/allCourses">Explore Courses</a>
        </div>
    </div>
</div>

