
<div class="container mt-5">
    <!-- Heading -->
    <h1 class="offering-heading">What Tech-it Offers you?</h1>

    <div class="offering">
        <!-- Offerings Cards -->
        <div class="off-boxes">
            <div class="row row-cols-1 row-cols-md-2 g-4 mx-auto">
                <div class="col">
                    <div class="card off-card">
                        <div class="card-body">
                            <h4 class="card-title offring-card-tital">100% Placement Guarantee</h4>
                            <p class="card-text">Your Success is Our Priority. At Tech-it, we are committed to your career success with our 100% placement guarantee.</p>
                            <a href="/explore/allCourses" class="takeLook">Take a look &nbsp; <i class="fa-solid fa-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card off-card">
                        <div class="card-body">
                            <h4 class="card-title offring-card-tital">Hands-On Learning</h4>
                            <p class="card-text">Our courses are built around practical, hands-on learning to ensure you gain real-world experience.</p>
                            <a href="/explore/allCourses" class="takeLook">Take a look &nbsp; <i class="fa-solid fa-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card off-card">
                        <div class="card-body">
                            <h4 class="card-title offring-card-tital">Future-Ready Skills</h4>
                            <p class="card-text">Equip yourself with essential competencies at Tech-iT to thrive in tomorrow's dynamic workforce.</p>
                            <a href="/explore/allCourses" class="takeLook">Take a look &nbsp; <i class="fa-solid fa-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card off-card">
                        <div class="card-body">
                            <h4 class="card-title offring-card-tital">Experienced Instructors</h4>
                            <p class="card-text">At Tech-it, you’ll be taught by experienced professionals with years of expertise in their respective fields.</p>
                            <a href="/explore/allCourses" class="takeLook">Take a look &nbsp; <i class="fa-solid fa-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image Box -->
        <div class="off-img-box">
            <div class="off-circal">
                <div class="img-f-box">
                    <img src="/assets/portrait-young-asian-woman-student-using-laptop-tablet-smart-happy-pose-university-college-removebg-preview.png" alt="offering-img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

</div>


