<div class="place-sec-head ">
    <span class="text-cap ">A STRUCTURED PATH TO SUCCESS</span>
    <h2 class="cormorant-garamond-light">to ensure a 100% placement rate for our students</h2>
</div>



<div class="place-cont">
<h1 class="place-cont-head">Here's How Our Course Will Help You Get Your Dream Job</h1>
<div class="place-cards">

    <div class="place-card place-card-top">
        <div class="place-upper-sec">
            <div class="place-img-num">
                <div class="place-img">
                    <i class="place-icon fa-solid fa-graduation-cap fa-2xl"></i>
                </div>
                <div class="place-number">01</div>
           </div>
            <h2 class="place-heading2 place-h2">Career Advice</h2>
            <p class="place-para">A dedicated career expert will guide you by putting light on which course to select based on your interests and qualifications. At Tech-it, we provide our students with an interesting syllabus for our IT Courses.</p>
        </div>
    </div>

    <div class="place-card place-card-bottom">
        <div class="place-upper-sec">
            <div class="place-img-num">
                <div class="place-img">
                    <i class="place-icon fa-regular fa-address-card fa-2xl"></i>
                </div>
                <div class="place-number">02</div>
                </div>
            <h2 class="place-heading2 place-h2">Enrollment</h2>
            <p class="place-para">Once you enroll in the course, a dedicated Relationships Manager will be provided to support you throughout the course completion period.</p>
        </div>
    </div>

    <div class="place-card place-card-top">
        <div class="place-upper-sec">
            <div class="place-img-num">
                <div class="place-img">
                    <i class="place-icon fa-solid fa-person-chalkboard fa-2xl"></i>
                </div>
                <div class="place-number">03</div>
                </div>
            <h2 class="place-heading2 place-h2">Follow the 3A Rule</h2>
            <p class="place-para">3A (Attendance, Assignment & Assessment) is a learning model designed by us where student have to score minimum 90%</p>
        </div>
    </div>

    <div class="place-card place-card-bottom">
        <div class="place-upper-sec">
            <div class="place-img-num">
                <div class="place-img">
                    <i class="place-icon fa-solid fa-folder-closed fa-2xl"></i>
                </div>
                <div class="place-number">04</div>
                </div>
            <h2 class="place-heading2 place-h2">Projects</h2>
            <p class="place-para">Being one of the most desired IT Training Institutes, we provide our students with 30+ Industry oriented projects and case studies to make our students Industry-ready professionals.</p>
        </div>
    </div>

    <div class="place-card place-card-top">
        <div class="place-upper-sec">
            <div class="place-img-num">
                <div class="place-img">
                    <i class="place-icon fa-solid fa-user-tie fa-2xl"></i>
                </div>
                <div class="place-number">05</div>
                </div>
            <h2 class="place-heading2 place-h2">Interviews</h2>
            <p class="place-para">A total of 150+ mocks are planned for each student to prepare them for technical interviews.</p>
        </div>
    </div>

    <div class="place-card place-card-bottom">
        <div class="place-upper-sec">
            <div class="place-img-num">
                <div class="place-img">
                    <i class="place-icon fa-solid fa-briefcase fa-2xl"></i>
                </div>
                <div class="place-number">06</div>
                </div>
            <h2 class="place-heading2 place-h2">Job</h2>
            <p class="place-para" >Tech-it being a trustworthy Software Training Institute, starts working on the interviews for the students’ placements soon after their course completion.</p>
        </div>
    </div>

</div>
</div>