.addJob-icon_float {
    /* margin: 0 45px 0 0; */
    position: fixed;
    bottom: 20px;
    right: 20px;
     z-index: 100; 
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 136, 255);
}


.addJob-icon_float:hover {
    transform: translateY(6px);
    transition: 0.3s;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}
