.apply-page{
    /* height: 120vh; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,29,139,1) 14%, rgba(1,74,168,1) 25%, rgba(0,212,255,1) 59%, rgba(58,97,179,1) 99%, rgba(0,176,232,1) 100%, rgba(0,187,239,1) 100%, rgba(0,178,233,1) 100%);
}

.form-section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.share-section {
    margin-top: 20px;
}

.apply-btn {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,187,239,1) 0%, rgba(0,178,233,1) 0%, rgba(2,0,36,1) 0%, rgba(58,97,179,1) 0%, rgba(1,29,139,1) 0%, rgba(1,74,168,1) 100%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 100%);
    border: none;
}

.apply-cont{
    width: 70%;
}

@media(max-width:480px) {
    .apply-cont{
        width: 100%;
    }
}