<div class="banner">
    <h1 class="bann-heading">Looking for in-depth Syllabus Information?</h1>
    <p class="bann-para">Explore your endless possibilities with our Brochure!</p>
    <a href="#" class="banner-btn" id="brochureBtn"><i class="fa-solid fa-download"></i> &nbsp; Download Syllabus</a>
</div>
