<div class="certificate-section">
    <div class="get-certified">
        <h1>Get <span>Certified.</span></h1>
    </div>
    
    <section class="cert-section">
        <div class="left-section">
            <div class="features">
                <div class="feature">
                    <h3><i class="fa-solid fa-award"></i> &nbsp; Start today</h3>
                    <p>You are just months away from cracking your dream company.</p>
                </div>
    
                <div class="feature">
                    <h3><i class="fa-solid fa-award"></i> &nbsp; Believe in yourself</h3>
                    <p>Coding is simple. You just need the right guidance. Consistency & hard work will help you be internship/placement ready for tech companies.</p>
                </div>
                <!-- <button class="enroll-btn" aria-label="Enroll Now">Enroll Now <i class="fa-solid fa-angle-right"></i></button> -->
            </div>
        </div>
    
        <div class="right-section">
            <h3>START YOUR PLACEMENT JOURNEY TODAY</h3>
            <img src="/assets/certificate.png" alt="Certificate of Completion in Coding">
        </div>
    </section>
</div>