/* Card Heading Section */
.card-heading-section {
    margin: 50px 0; 
    padding-top: 52px;
    text-align: left; 
}

/* Heading Title Styling */
.heading-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem; 
    font-weight: 600;
    color: #011d3a;
    padding-bottom: 10px; 
    margin-bottom: 20px; 
}
.viewMore-btn{
    margin: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}


/* Customizing the Carousel */
#carouselDesktop {
    max-width: 90%; 
    margin: 0 auto;  
}
.carousel-item {
    padding: 20px 0;
}

/* Styling the Cards */
.landing-course-card{
    height: 390px;
    transition: transform 0.3s ease;
}
.landing-course-card:hover {
    transform: translateY(-10px);  
}
.landing-course-card img {
    height: 170px;
    object-fit: cover;
}

/* Adjusting card width */
.card-wrapper {
    flex: 1 1 30%; /* Decreased card width */
    margin: 0 15px;
}

/* Carousel controls placed outside */
.carousel-controls {
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    /* margin: 20px auto 0; */
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 50%;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .card-wrapper {
        min-width: 50%;
    }
}

@media (max-width: 768px) {
    .landing-course-card{
        height: 400px;
        line-height: 1.2rem;
    }
    .heading-title {
        font-size: 2rem; /* Slightly smaller font on mobile */
        border-bottom-width: 3px; /* Adjust border thickness for smaller screens */
    }
    .card-wrapper {
        min-width: 90%;
    }
    .landing-course-card{
        height: 410px;
    }
}

/* Adjust the z-index so cards are clickable */
.carousel-control-prev, .carousel-control-next {
    z-index: 1;
    width: 50px;
    height: 70px;
    margin: auto;
    background-color: black;
    border-radius: 10px;
}

.hide{
    display: none;
}

.text-right button{
    bottom: 5px;
}