/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    
} */

.inst-info {
    padding: 50px;
    margin: 0;
    margin-top: 52px;
    text-align: center;
    background-color: #bbdefb23;
}

.inst-msg {
    text-align: center;
    margin-bottom: 20px;
}

.inst-info h1 {
    color: #001845;
    font-weight: 700;
    font-size: 2.5rem;
}

.inst-info p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1rem;
    color: #555;
}

.inst-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px;
}

.cont {
    width: 250px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}

.cont:hover {
    transform: translateY(-10px);
}

.inst-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.cont-body {
    margin-top: 10px;
}

.cont-title {
    font-size: 1.2rem;
    color: #333;
}

.cont-text {
    color: #777;
    margin-bottom: 10px;
}

.cont small {
    color: #888;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .cont {
        width: 220px;
    }
}

@media (max-width: 992px) {
    .inst-info h1 {
        font-size: 2rem;
    }

    .cont {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .inst-info h1 {
        font-size: 1.8rem;
    }

    .cont {
        width: 180px;
    }
}

@media (max-width: 576px) {
    .inst-info{
        padding: 30px;
    }
    .inst-info h1 {
        font-size: 1.5rem;
    }

    .inst-cards {
        flex-direction: column;
        align-items: center;
    }

    .cont {
        width: 100%;
        max-width: 300px;
    }
}